<div id="notes_form" class="hidden"><%= render( :partial => 'notes/form' ) %></div>
<%= render :partial => 'layouts/pagination', :locals => { :collection => notes } %>
<table>
  <thead>
    <tr>
      <th style="width: 1em;">&nbsp;</th>
      <th>Region &amp; Code</th>
      <th>Banknote</th>
      <th>Issued</th>
      <th>Condition</th>
      <th style="width: 8em;">Serial</th>
    </tr>
  </thead>
  <tbody>
  <% notes.each do |note| -%>
    <tr>
      <td>
        <%= link_to icon('pencil'), edit_note_path(note) %>
      </td>
      <td><%= link_to "#{note.currency_region} #{note.master_code}", master_path( note.master_id ) %></td>
      <td>
        <%= link_to "#{n note.master_denomination} #{note.currency_unit}", note_path( note.note_id ) -%>
        <% if note.overprint_currency_id -%>
          (<abbr title="<%= "#{note.overprint_denomination} #{note.overprint_currency_unit}" %>">OP</abbr>)
        <% end %>
      </td>
      <td><%=year note.master_issued_on %></td>
      <td>
        <% if note.note_description.blank? -%>
          <%=h note.grade_name %>
        <% else -%>
          <abbr title="<%=h note.master_description %>"><%=h note.grade_name %></abbr>
        <% end -%>
      </td>
      <td><%=h note.note_serial %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
