<div class="span-12 last">
<h1>
  <%= link_to @note.master.country.name, @note.master.country %> <%= link_to @note.master.code, @note.master %> 
  <%= link_to icon('pencil'), edit_note_path(@note) %>
  <%= link_to icon('delete'), @note, :confirm => 'Are you sure?', :method => :delete %>
</h1>
<h2><%=n @note.master.denomination %> <%= @note.master.currency.unit %></h2>
<h2><%=h ( @note.serial.blank? ? 'No serial' : @note.serial )%> / <%=h @note.grade.try(:name) || 'Ungraded' %></h2>

<p>
  <b>Description:</b>
  <%=h @note.description %>
</p>

<p>
  <b>Printed on:</b>
  <%=h @note.printed_on %>
</p>
</div>
