<div id="masters_form" class="hidden"><%= render( :partial => 'masters/form' ) %></div>
<%= render :partial => 'layouts/pagination', :locals => { :collection => masters } %>
<table>
  <thead>
    <tr>
      <th style="width: 1em;">&nbsp;</th>
      <th style="width: 9em;">Region &amp; Code</th>
      <th>Issued</th>
      <th style="width: 10em;">Denomination</th>
      <th>Description</th>
      <th>Qty.</th>
    </tr>
  </thead>
  <tbody>
    <% masters.each do |master| -%>
    <tr>
      <td>
        <%= link_to icon('pencil'), edit_master_path(master.master_id) %>
      </td>
      <td>
        <%= link_to "#{master.currency_region} #{master.master_code}", master_path(master.master_id) %>
      </td>
      <td><%=year master.master_issued_on %></td>
      <td>
        <%=n master.master_denomination %> <%= link_to master.currency_unit, currency_path(master.currency_id) %>
        <% if master.overprint_currency_id -%>
          (<abbr title="<%= "#{n master.overprint_denomination} #{master.overprint_currency_unit}" %>">OP</abbr>)
        <% end %>
      </td>
      <td><%=h master.master_description %></td>
      <td><%= master.note_count %></td>
    </tr>
    <% end -%>
  </tbody>
</table>
