<div class="span-12 last">
<h1>
  <%= link_to @master.country.name, @master.country %>
  <%=h @master.code %>
  <%= link_to icon('pencil'), edit_master_path(@master) %>
</h1>
<h2><%=h @master.denomination %> <%= link_to @master.currency.unit, @master.currency %></h2>

<p>
  <b>Authority:</b> <%= link_to( @master.authority.name, @master.authority ) unless @master.authority.blank? %>
</p>

<p>
  <b>Description:</b> <%=h @master.description %>
</p>

<p>
  <b>Printer:</b> <%= link_to( @master.printer.name, @master.printer ) unless @master.printer.blank? %>
</p>

<p>
  <b>Issued on:</b> <%=h @master.issued_on %>
</p>

<p>
  <b>Printed on:</b> <%=h @master.printed_on %>
</p>

<p>
  <b>Withdrawn on:</b> <%=h @master.withdrawn_on %>
</p>

<p>
  <b>Lapsed on:</b> <%=h @master.lapsed_on %>
</p>
</div>

<div class="span-24">
<h2>Individual Notes <%= link_to_function icon('add'), '$("#notes_form").toggle(100)'%></h2>
<%= render :partial => 'notes/browse', :locals => { :notes => @master.notes } %>
</div>
