<div class="span-12">
  <%= render :partial => 'regions/form' %>
  <%= render :partial => 'authorities/form' %>
</div>
<div class="span-12 last">
  <%= render :partial => 'currencies/form' %>
</div>
<div class="span-12">
  <%= render :partial => 'masters/form' %>
</div>
<div class="span-12 last">
  <%= render :partial => 'notes/form' %>
</div>
