<h3>Counts</h3>
<ul>
  <li>Masters: <%= Master.count %></li>
  <li>Notes: <%= Note.count %></li>
  <li>Regions: <%= Region.count %></li>
  <li>Authorities: <%= Authority.count %></li>
  <li>Currencies: <%= Currency.count %></li>
  <li>Printers: <%= Printer.count %></li>
</ul>