<%= form_for(@printer) do |f| %>
<fieldset>
  <legend><%= create_or_update(@printer) %> Printer</legend>

  <% if @printer.errors.any? %>
    <ul>
    <% @printer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <ul>
    <%= f.text_field :name, :required => true %>
    <%= f.select :country_id, Country.for_select, :required => true %>
    <%= f.submit create_or_update(@printer) %>
  </ul>
</fieldset>
<% end %>